.samples-menu-container {
    z-index: 20;
}

.samples-menu-page {
    border: 5px solid var(--pad-dark);
    border-radius: 10px;
    background-color: black;
    box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.sample-selector-div {
    min-width: 200px;
    text-align: center;
    
    font-size: 25px;
    color: white;
    
    padding: 10px;
}

.sample-selector-div:hover {
    cursor: pointer;
    color: var(--menu-red);
}

.sample-selector-div:active .sample-selector {
    font-style: italic;
    color: var(--menu-green);
}

.submenu-buttons-div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}

.submenu-button {
    margin: 0 40px;
    width: 55px;
    height: 55px;

    color: #FFFFFF;
    background-color: #000000;
    border: 5px solid var(--pad-dark);
    border-radius: 50%;
    box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
}

#submenu-back {
    font-size: 25px;
}

#submenu-exit {
    font-size: 25px;
}