:root {
  --background: #f7f1e9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background);
}

#drum-machine {
  width: 600px;
  height: 400px;

  margin: 50px auto;

  border-radius: 13px;
  background-color: #615b52;
}