.sounds-menu-page {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sounds-menu-div {
    min-width: 200px;

    text-align: center;
    background-color: black;
    border: 5px solid var(--pad-dark);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    color: white;
}

.sounds-menu-type {
    padding: 10px 30px;
}

.sounds-menu-type:hover {
    cursor: pointer;
    color: var(--menu-red);
}

#exit-sounds-menu {
    width: 200px;
    height: 50px;
    margin-top: 5%;
    
    font-family: 'Orbitron';
    font-size: 30px;
    color: white;
    
    background-color: black;
    border: 5px solid var(--pad-dark);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
}

#exit-sounds-menu:hover {
    cursor: pointer;
    color: var(--menu-red);
}

.sample-sub-div {

}

.sample-sub-div:hover {
    cursor: pointer;
    color: var(--menu-red);
}